<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Creation Livre</title>
    <link href="../static/css/Layout.css" th:href="@{/css/stylesBibliotheque.css}" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white " >
    <div class="container-fluid">

        <div class="collapse navbar-collapse " id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" id="onglet" th:href = "@{/adminlivre/liste}">Parcourir la bibliothèque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="onglet" th:href = "@{/compte/nouveaucompte}">Créer un compte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->


<body>
<div class = "container">
    <div class = "row" >
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center" th:text="${titre}"/>
            <div class = "card-body">

                <form th:action = "@{/compte/utilisateurs}" th:object = "${User}" method = "POST">

                    <div class = "form-group">
                        <label>Nom</label>
                        <input
                                class = "form-control"
                                type = "text"
                                name = "nom"
                                th:field = "*{nom}"
                                placeholder="Entrer votre nom"
                        />
                    </div>
                    <div class = "form-group">
                        <label>Prénom</label>
                        <input
                                class = "form-control"
                                type = "text"
                                name = "prenom"
                                th:field = "*{prenom}"
                                placeholder="Entrer votre prénom"
                        />
                    </div>
                    <div class = "form-group">
                        <label>Username</label>
                        <input
                                class = "form-control"
                                type = "text"
                                name = "username"
                                th:field = "*{username}"
                                placeholder="Entrer votre Username"
                        />
                    </div>
                    <div class = "form-group">
                        <label>Mot de passe</label>
                        <input
                                class = "form-control"
                                type = "text"
                                name = "mdp"
                                th:field = "*{mdp}"
                                placeholder="Entrer votre mot de passe"
                        />
                    </div>
                    <div class = "form-group">
                        <label>Email</label>
                        <input
                                class = "form-control"
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                placeholder="Entrer votre email"
                        />
                    </div>


                    <div class = "box-footer">
                        <button type = "submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>